#bigDiv {
    width: 80%;
    margin-left: 10%;
}
.goodsLi{
    float: left;
    width: 240px;
    margin-left: 52px;
    margin-top: 20px;
}
.priceSpan{
    color: red;
    font-size: 24px;
    display: block;
}
.gnameSpan{
    font-size: 16px;
    display: block;
}
.storeNameSpan{
    font-size: 16px;
    display: block;
    color: #f71e4f;
}